# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Environment variables
.env
.env.*

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Docker
*.pid

# VSCode
.vscode/

# Monitoring
monitoring/ 